<!DOCTYPE html>
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html lang="ja">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "../../assets/ico/favicon.png" %}">

    <title>Photo Upscaler</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static "dist/css/jasny-bootstrap.min.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/navmenu-reveal.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel='stylesheet' href='http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/css/dropify.css' />
    <link href="{% static "css/custom.css" %}" rel="stylesheet">


    <!-- <link href="{% static "css/full-slider.css" rel="stylesheet"> -->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <div class="bar">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
    </button>
  </div>
    <div class="navmenu navmenu-default navmenu-fixed-left">

     <ul class="nav navmenu-nav">
       <li><a href="{% url 'myapp:index' %}">Home</a></li>
       <li><a href="{% url 'myapp:about' %}">About</a></li>
       <li><a href="https://www.pythonmania.work/">Blog</a></li>

      </ul>
      <a class="navmenu-brand" href="#"><img src="{% static "img/logo3.png" %}" width="160"></a>
      <div class="social">
        <a href="https://twitter.com/ManiaPython"><i class="fa fa-twitter"></i></a>
      </div>

    </div>

    <div id="myCarousel" class="canvas carousel slide" data-ride="carousel">
      <script>
        $(function(){
        $('.dropify').dropify();
        })
        </script>

        <div class="carousel-inner" role="listbox">
          <div class="item active" style="position:relative;">
                <!-- Set the first background image using inline CSS below. -->
                <!-- <div class="fill" style="background-image:url('img/bg.jpg');"></div> -->
           <img src="{% static "img/white.png" %}" alt="First slide" class="backimage">
            <img src="{% static "img/error.png" %}" class="errorlogo">
            <div class="errorlogo2">

            <img src="{% static "img/error2.png" %}" class="errorlogo2">
            </div>
            <div class="carousel-caption">


              <a href="{% url 'myapp:index' %}" class="btn-box top-btn">Top</a>
              <div class="">
                <h2 class="sub-title-home" class="message">Created By PythonMania</h2>
              </div>
            </div>
          </div>
        </div>
    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "dist/js/jasny-bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script>
    $('.carousel').carousel({
        interval: 6000 //changes the speed
    })
    </script>
    <script src='http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/js/dropify.js'></script>


  </body>
</html>
